#ProjectScan {
  display: grid;

  header.app-header {
    h1 {
      margin: 0;
    }
  }

  .app-content {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 500px;
    }
  }
}
