#Workspace {
  display: grid;

  .app-header {
    margin-top: 20px;
  }

  .search-box {
    width: $search-box-width;
  }

  .projects-list {
      min-width: 650px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      grid-row-gap: 1em;
      grid-column-gap: 1em;
      overflow: visible;
      padding-bottom: 10px;

      .btn-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
  }

  .empty-container {
    display: flex;
    height: 100%;
    align-items: center;

    .empty-list {
      width: 400px;
      margin: 0 auto 100px;
      text-align: center;

      h3, p {
        margin: 10px;
      }
    }
  }
}
