#ProjectSettings {
  &.app-page {
  }

  .app-content {
    overflow: auto;

    .form-field {
      margin-bottom: 15px;
    }
  }

  .error-message {
    font-size: 10px;
    color: red;
    height: 26px;
    margin-top: 6px;
  }

  .input-label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;

    .optional {
      color: gray;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .item-default {
    color: #a8a8a8 !important;
  }

  .checkbox-label {
    display: flex;
    line-height: normal;
    font-size: 14px;
  }
}
