#ProjectSettings {
  &.app-page {
  }

  .app-content {
    overflow: auto;
    .form-field {
      margin-bottom: 15px;
    }
  }

  .error-message {
    color: red;
    height: 30px;
    margin-top: 6px;
  }

  .input-label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    .optional {
      color: gray;
      font-weight: normal;
      font-size: 16px;
    }
  }

  .item-default {
    color: #a8a8a8 !important;
  }
}
